

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn,
.prev-btn {
  padding: 5px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.Ellipse-blue {
  height: 8px;
  width: 8px;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.read-more-btn-wrapper .read-more-btn {
  text-decoration: none;
}


/* Style for the pagination dots */
.dot-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.article-carousel .carousel-indicators {
  margin-bottom: 0 !important;
  align-items: center;
}
.article-carousel .carousel-indicators button {
  width: 1px !important;
  height: 1px !important;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--trinity-gray);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  background-image: url("https://contents.trinity-metals.com/wp-content/uploads/2025/02/Ellipse-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.article-carousel .carousel-indicators button[aria-current="true"] {
  border: solid 3.3px var(--trinity-blue);
}
.article-carousel
  .carousel-indicators
  button[aria-current="true"]
  .Ellipse-blue,
.swiper-pagination-bullet:hover .Ellipse-blue {
  height: 9.5px;
  width: 9.5px;
}
