

.lithium{
    background-image: url(https://contents.trinity-metals.com/wp-content/uploads/2025/07/image001-2-1.jpg);
        background-position: center 60%;
        background-repeat: no-repeat;
        background-size: cover;
    
}